
    <footer class="container-fluid text-center">
      <p style="background-color:gray">I am a footer</p>
    </footer>
    <script type="text/javascript" href="js/custom.js"></script>
  </body>
</html>
