<% include ./partials/header %> 
<div id="registerbody">
<div  class="container" >
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading" id="change">
			    		<h3 class="panel-title">Register your Facility with Hospital.ng</h3>
			 			</div>
			 			<div class="panel-body">

							<form action="/register" method="post">
								<input type="text" name="username" placeholder="username">
								<input type="password" name="password" placeholder="password">
								<button>Sign Up</button>
							</form>

			    	</div>
	    		</div>
	    		<h3 id="sign_in">already have an account <a href="/login">sign in</a></h3>
	    		<div id="project_logo">
	    			<h3><em>this is an FCC <i class="fa fa-free-code-camp" aria-hidden="true"></i> Abuja Project...</em></h3>
	    		</div>
	    		
	    	
    		</div>
            </div>

  
<% include partials/footer %>
